@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:700';


/* footer */
.footer , .footer-index{
	position: relative;
	bottom: 0;
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	background-color: #e6e6e6;
	color : #888;
	height: 50px;
	line-height: 49px;
	padding-left: 30px;
	padding-right: 30px;
	p{
		margin:0;
		@media screen and (max-width: 400px){
			font-size: .8em;
		}
	}
}


.footer-index{
	z-index: 999;
	position: fixed;
	bottom: -50px;
	right: 0;
}

.copyright{
	text-transform: uppercase;
}