@import url('https://fonts.googleapis.com/css?family=Teko'); 

$top-position : 50%;
$right-position : 0%;
$z-index : 99;
$element-width: 150px;
$element-height: 60px;
$element-color : #222;
$element-border-color : #eee;
$element-opacity: 0.9;
$element-text-color: #FFF;


#pagination_container{
	position: fixed;
	right:  - (($element-width / 2) + 10px); 
	top: $top-position;
	z-index: $z-index;
	cursor: pointer;
	transition : all .3s;
	transform : rotateZ(45deg) translateY(-50%) translateX(0); 
	transform-origin: 100% 100% 0%;

	*{
		display: block;
	}

	.pagination_nav{
		opacity : 0;
		width: $element-width;
		height : 20px;
		text-align: center;
		transition: opacity 0.3s;
		img{
			margin: auto;
		}
	}

	&:hover{
		transform: rotateZ(0) translateY(-50%);
		right: 0;
		.pagination_nav{
			opacity : .8;
		}
	}	
}




.wrap {
	position: relative;
	perspective: 800px;
	perspective-origin: 50% 50%;
	height: $element-height;
	width: $element-width;

	.cube{
		position: relative;
		height: inherit;
		width: inherit;
		font-family: 'Teko', sans-serif;
		font-size: 2em;
		list-style: none;
		text-align: right;
		transform-style: preserve-3d;
		transform: translateZ(-($element-width / 2));
		transform-origine: 50% 50%;
		transition: transform .5s;
		div{
			position: absolute;
			width: $element-width;
			height: $element-height;
			background:  $element-color;
			border: solid 1px $element-border-color;
			opacity: $element-opacity;
			padding-right: 20px;
			line-height: $element-height;
			text-transform: uppercase;

			&.back {
				transform: translateZ(-($element-height / 2)) rotateX(180deg); // rotateY(180deg);
				*{
					transform: rotateX(-180deg);
				}
			}
			&.top {
				transform: rotateX(90deg) translateY(-($element-height / 2));
			 	transform-origin: top center;
			}
			&.bottom {
				transform: rotateX(-90deg) translateY(($element-height / 2));
			 	transform-origin: bottom center;
			}
			&.front {
				transform: translateZ(($element-height / 2));
			}

			a {
				color: $element-text-color;
			}

		}
	}
}


