@import url('https://fonts.googleapis.com/css?family=Teko');

$top-position : 50%;
$right-position : 50%;

.pagination{
	font-family: 'Teko', sans-serif;
	z-index: 99;
	position: fixed;
	height : 50px;
	right: $right-position;
	top: $top-position;
	font-size: 2em;
	list-style: none;
	text-align: right;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .5s; 
	transform : translateZ(-25px);
	perspective: 600;
	animation: rotateCube;
	li {
		position: absolute;
		-webkit-backface-visibility: hidden; 
	/*	border:solid 1px #000;*/
		overflow:hidden;
		width:100px;
	   	height:50px;
	   	background: #ffab00;
	   	opacity:1;
		margin: 0px;
		padding: 5px;
		&:nth-child(1){ /*.. Face ..*/
			-webkit-transform: translateZ( 25px );
		}
		&:nth-child(3){ /*.. Back ..*/
			-webkit-transform: rotateX(-180deg) translateZ( -25px );
		}
		&:nth-child(4){ /*.. Top ..*/
			 -webkit-transform: rotateX(90deg) translateZ( 25px );
		}
		&:nth-child(2){ /*.. Bottom ..*/
			 -webkit-transform: rotateX(-90deg) translateZ( 25px );
		}
	}	
}


/*animation css*/
@-webkit-keyframes rotateCube {
	0% { 
		-webkit-transform: translateZ( -25px ) rotateX( 0deg ) rotateY( 0deg );
	}
	25% {
		-webkit-transform: translateZ( -25px ) rotateX( -90deg ) rotateY( 0deg );	
	}
	50% {
		-webkit-transform: translateZ( -25px ) rotateX( -180deg ) rotateY( 0deg );
	}
	100% {
		-webkit-transform: translateZ( -25px ) rotateX( 90deg ) rotateY( 0deg );
	}
}


.pagination_nav{
	position:fixed;
	right: $right-position;
	background: #ff0000;
	&:first-child{
		/*top: $top-position - 50px;	*/
	}
	&:last-child{
		/*top: $top-position + 50px;*/
	}
	

}