.topbar{
	z-index : 8;
	position : fixed;
	top : 0; left : 0;
	height : 50px ; 
	width : 100%;
	background : #FFF;
	padding : 15px 60px;
	border-bottom : solid 1px #e6e6e6;
	opacity : 1;
	transition : 0.3s;
	&.hidden{
		opacity : 0;
	}

	.span{
		position : relative;
		padding-right : 50px;
		height : 100%;
		line-height : 49px;
		color : #000;
		font-family : 'Oswald',sans-serif;
	}
}