



.index-section{
	position: relative;
	background: #e6e6e6;
}



.section-01{
	background: url('../img/background_03.jpg') no-repeat center center;
	background-size: cover;
}

.section-02{
	background: url('../img/background_05.jpg') no-repeat center center;
	background-size: cover;
}

.section-03{
	background: url('../img/background_01.jpg') no-repeat center center;
	background-size: cover;
}



.fixed-layer{
	font-size: 5em;
	padding:10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-shadow: 2px 2px 2px #AAA;
}







#main-logo{
	position: fixed;
 	top: 50%; 
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 320px;
	height: 70px;
	z-index: 9;
	transition: all 0.3s ease-in-out;
}


.active{
	background-color: #ffab00;
	font-size: 0.9em;
}