/*@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');*/
@import url("https://fonts.googleapis.com/css?family=Unica+One");
@import url("https://fonts.googleapis.com/css?family=Teko");
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:700";
.menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 3px;
  z-index: 11; }

.lines-button {
  display: inline-block;
  padding: 1.5rem 0.75rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.42857rem;
  padding: 0;
  border: none;
  background: none;
  border: none;
  opacity: .7; }
  .lines-button:hover {
    opacity: 1; }
    .lines-button:hover .lines:before {
      top: 0.85714rem; }
    .lines-button:hover .lines:after {
      top: -0.85714rem; }
  .lines-button:active {
    border: none;
    transition: 0;
    background: rgba(0, 0, 0, 0.1); }
  .lines-button:focus {
    outline: 0; }

.lines {
  display: inline-block;
  width: 3rem;
  height: 0.42857rem;
  background: #000;
  border-radius: 0.21429rem;
  transition: 0.5s;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/ }
  .lines:before, .lines:after {
    display: inline-block;
    width: 3rem;
    height: 0.42857rem;
    background: #000;
    border-radius: 0.21429rem;
    transition: 0.5s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.21429rem center; }
  .lines:before {
    top: 0.75rem; }
  .lines:after {
    top: -0.75rem; }

.lines-button.x.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/ }
  .lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
    transform-origin: 50% 50%;
    top: 0;
    width: 3rem; }
  .lines-button.x.close .lines:before {
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x.close .lines:after {
    transform: rotate3d(0, 0, 1, -45deg); }

.topbar {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #FFF;
  padding: 15px 60px;
  border-bottom: solid 1px #e6e6e6;
  opacity: 1;
  transition: 0.3s; }
  .topbar.hidden {
    opacity: 0; }
  .topbar .span {
    position: relative;
    padding-right: 50px;
    height: 100%;
    line-height: 49px;
    color: #000;
    font-family: 'Oswald',sans-serif; }

#pagination_container {
  position: fixed;
  right: -85px;
  top: 50%;
  z-index: 99;
  cursor: pointer;
  transition: all .3s;
  transform: rotateZ(45deg) translateY(-50%) translateX(0);
  transform-origin: 100% 100% 0%;
  -webkit-animation: clin 1s ease-in-out infinite;
  /* Safari 4+ */
  -moz-animation: clin 1s ease-in-out infinite;
  /* Fx 5+ */
  -o-animation: clin 1s ease-in-out infinite;
  /* Opera 12+ */
  animation: clin 1s ease-in-out infinite; }
  #pagination_container * {
    display: block; }
  #pagination_container .pagination_nav {
    opacity: 0;
    width: 150px;
    height: 20px;
    text-align: center;
    transition: opacity 0.3s; }
    #pagination_container .pagination_nav img {
      margin: auto; }
  #pagination_container:hover {
    transform: rotateZ(0) translateY(-50%);
    animation: none;
    right: 0; }
    #pagination_container:hover .pagination_nav {
      opacity: .8; }

.wrap {
  position: relative;
  perspective: 800px;
  perspective-origin: 50% 50%;
  height: 60px;
  width: 150px; }
  .wrap .cube {
    position: relative;
    height: inherit;
    width: inherit;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    list-style: none;
    text-align: right;
    transform-style: preserve-3d;
    transform: translateZ(-75px);
    transform-origine: 50% 50%;
    transition: transform .5s; }
    .wrap .cube div {
      position: absolute;
      width: 150px;
      height: 60px;
      background: #222;
      border: solid 1px #eee;
      opacity: 0.9;
      padding-right: 20px;
      line-height: 60px;
      text-transform: uppercase; }
      .wrap .cube div.back {
        transform: translateZ(-30px) rotateX(180deg); }
        .wrap .cube div.back * {
          transform: rotateX(-180deg); }
      .wrap .cube div.top {
        transform: rotateX(90deg) translateY(-30px);
        transform-origin: top center; }
      .wrap .cube div.bottom {
        transform: rotateX(-90deg) translateY(30px);
        transform-origin: bottom center; }
      .wrap .cube div.front {
        transform: translateZ(30px); }
      .wrap .cube div a {
        color: #FFF; }

@keyframes clin {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0.9; } }
/* footer */
.footer, .footer-index {
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  background-color: #e6e6e6;
  color: #888;
  height: 50px;
  line-height: 49px;
  padding-left: 30px;
  padding-right: 30px; }
  .footer p, .footer-index p {
    margin: 0; }
    @media screen and (max-width: 400px) {
      .footer p, .footer-index p {
        font-size: .8em; } }

.footer-index {
  z-index: 999;
  position: fixed;
  bottom: -50px;
  right: 0; }

.copyright {
  text-transform: uppercase; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  margin-left: -100%;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: .5s ease;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }
  .overlay:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    filter: blur(100%); }
  @media screen and (min-width: 600px) {
    .overlay {
      width: 50%; } }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  margin-top: 70px;
  width: 100%;
  /* 100% width */
  text-align: left;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }
  .overlay-content ul {
    position: absolute;
    left: 300px;
    top: 0;
    opacity: .3;
    transition: all 1s ease;
    list-style: none;
    font-family: 'Unica One', sans-serif; }
    .overlay-content ul li {
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 2.5em;
      display: block; }
      @media screen and (max-width: 780px) {
        .overlay-content ul li {
          font-size: 1.8em;
          padding: 5px; } }
      .overlay-content ul li a {
        color: #818181;
        transition: 0.3s; }
        .overlay-content ul li a:hover, .overlay-content ul li a:focus {
          color: #000; }
        .overlay-content ul li a:active {
          color: yellow; }

.current-menu-item {
  position: relative;
  pointer-event: none;
  cursor: default; }
  .current-menu-item:after {
    position: absolute;
    content: '';
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: #000;
    border-radius: 50%; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
.opened {
  margin-left: 0; }
  .opened ul {
    left: 0;
    opacity: 1; }

.bg {
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  z-index: -1; }

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: transparent;
  margin: 0;
  padding-left: 70px; }
  .jumbotron h1 {
    font-family: 'helvetica', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 4em; }
    @media screen and (max-width: 500px) {
      .jumbotron h1 {
        font-size: 2em; } }
  .jumbotron p {
    font-size: 2em; }

#interne-menu {
  background: #FFF;
  border-bottom: solid 1px #e6e6e6;
  height: 50px;
  text-align: center;
  transition: .5s ease;
  z-index: 9; }
  #interne-menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #interne-menu ul li {
      display: inline;
      padding: 10px 20px;
      color: #000;
      text-transform: uppercase;
      line-height: 49px;
      font-size: 1.2em;
      font-weight: 700;
      font-family: 'Unica one', sans-serif; }
      #interne-menu ul li a {
        color: #000;
        transition: color .5s ease; }
        #interne-menu ul li a:hover {
          color: #ffab00; }
      @media screen and (max-width: 500px) {
        #interne-menu ul li {
          display: block;
          width: 100%; } }
  @media screen and (max-width: 500px) {
    #interne-menu {
      display: block;
      height: auto; } }

#first_line {
  position: absolute;
  top: 0;
  left: 110px;
  width: calc(100% - 110px);
  height: 100%;
  margin: 0;
  padding: 10px 20px;
  border-left: dotted 1px #ddd; }
  #first_line p {
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Unica one', sans-serif;
    line-height: 30px; }
    @media screen and (max-width: 500px) {
      #first_line p {
        display: none; } }
  #first_line .next-arrow {
    opacity: .2;
    vertical-align: middle; }

.fixed {
  position: fixed;
  width: 100%;
  top: 50px;
  left: 0; }

.project-article {
  position: relative;
  /*	padding: 25px;*/
  /*	border: solid 1px #000; */
  height: 200px;
  margin: 50px auto;
  color: #000;
  overflow: hidden;
  padding: 3px;
  /*border: solid 1px #000;*/ }
  .project-article h1 {
    z-index: 2;
    font-weight: 700;
    margin-top: 125px;
    transition: all .5s ease; }
  .project-article:hover h1 {
    margin-top: 0px; }
  .project-article .project-details {
    /*display: none;*/
    opacity: 0;
    transition: all .5s  ease; }
  .project-article:hover .project-details {
    display: block;
    opacity: 1; }
  .project-article .project-details img {
    opacity: .7; }
  .project-article p {
    font-family: 'helvetica', sans-serif;
    font-weight: 500; }
  .project-article .details-icons {
    width: 16px;
    vertical-align: middle; }
  .project-article h1, .project-article p {
    margin-bottom: 0; }

progress {
  position: relative;
  width: 80%;
  height: 10px;
  background: #f6f6f6;
  opacity: .8;
  border: solid 1px #e6e6e6; }
  progress:before, progress:after {
    font-size: 1.2em;
    font-weight: 800;
    position: absolute;
    color: #e6e6e6;
    top: 50%;
    transform: translateY(-50%); }
  progress:before {
    content: '[';
    left: -5px; }
  progress:after {
    content: ']';
    right: -5px; }
  progress::-webkit-progress-bar {
    /* style rules */
    background-color: #e6e6e6; }
  progress::-webkit-progress-value {
    /* style rules */
    background-color: #AAA; }

#contact-form p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1em; }
#contact-form textarea, #contact-form input[type="text"], #contact-form input[type="email"] {
  color: #555;
  min-height: 40px;
  border: dotted 1px #AAA;
  font-weight: 100;
  transition: all .5s ease; }
#contact-form textarea:focus, #contact-form input[type="text"]:focus, #contact-form input[type="email"]:focus {
  box-shadow: 2px 2px 2px gray;
  border: solid 1px gray; }
#contact-form textarea {
  width: 100%; }
#contact-form input[type="submit"] {
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1em;
  padding: 10px 20px;
  margin: 20px;
  border: dotted 1px #000;
  background: rgba(250, 250, 250, 0.8);
  transition: all .5s ease; }
  #contact-form input[type="submit"]:hover {
    color: #FFF;
    background: rgba(0, 0, 0, 0.8); }

.postuler {
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9em;
  padding: 10px 20px;
  margin: 20px;
  border: dotted 1px #000;
  background: rgba(250, 250, 250, 0.8);
  transition: all .5s ease; }
  .postuler:hover {
    color: #AAA;
    background: rgba(0, 0, 255, 0.4); }

.sjb-list-view {
  background: #FFF; }
  .sjb-list-view:hover {
    background: #f6f6f6; }

.sjb-wrap .sjb-lead {
  margin: 20px 0px; }

.sjb-wrap a:hover {
  color: #FFF; }

#loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 99999; }

.blog-article {
  margin: 100px auto;
  padding: 20px 0 30px 0;
  position: relative; }
  .blog-article h1 {
    text-align: right; }
  .blog-article:after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    height: 5px;
    width: 70%;
    background-color: #e6e6e6; }
  .blog-article .view-article {
    text-transform: uppercase;
    font-family: 'Unica One', sans-serif;
    /*	padding:10px;
    	background: #e6e6e6;*/
    display: block;
    float: right;
    margin-top: 20px;
    /*	border: dotted 1px #000;*/ }
    .blog-article .view-article:after {
      content: '';
      display: block;
      clear: both; }

p.blog-date {
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
  color: #AAA;
  padding: 10px;
  border-right: solid 3px #e6e6e6; }

.container-fluid {
  margin: 0;
  padding: 0; }

.w500 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 100px;
  margin-top: 0;
  border-right: dotted 1px #e6e6e6;
  max-width: 700px;
  text-align: justify;
  /* Make title more thick*/ }
  @media screen and (max-width: 720px) {
    .w500 {
      padding: 20px; } }
  .w500:before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 60px;
    height: 100%;
    width: 1px;
    border-left: dotted 1px #AAA; }
  .w500 h1 {
    font-family: 'helvetica', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left; }
  .w500 p {
    font-size: 1.1em; }

.title {
  color: #FFF;
  font-weight: 800;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=main.css.map */
